
@media (min-width: 768px) {
  .top_nav{
    position: fixed;
    top: 0px;
    z-index: 10;
  }

}


.top_nav {
    width: 100%;
    background-color: #ffffff;

}
.top_nav_item{
    height: 70px;
}

.big_top_image,  .big_bottom_image {
    background-position: center center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: scroll;
}

.big_top_image{
    background-image: url("/img/img2.jpeg");
}

.big_bottom_image{
    background-image: url("/img/img1.jpeg");
}

.gray_gradient {
    height: 100vh;
    width: 100%;
    background-attachment: scroll;
/*    position: absolute;
    top: 0px;*/

    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
}

.main_view{
    height: 100vh;
}

.main_title{
    color: #ffffff;
    font-size: 61px;
    text-align: center;
    font-weight: 600;
}

.main_desc{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

.clck_dgt{
    color: #ffffff;
    font-size: 64px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
}
.clck_dsc{
    color: #ffffff;
    text-align: center;
}

#catalog_button{
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #FF4500;

    padding-top: 14px;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}

.top_menu{

    margin-top: 30px;
}

body > div.container-fluid.top_nav > div > div:nth-child(2) > ul > li> a{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/*#request_call{
    color: #ffffff;
    background-color: #FF4500;
    margin-top: 15px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}*/

.advantage_item{
    height: 140px;
}

.deal_title{
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}

.request_call_title{
    color: #ffffff;
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    text-align: center;
}

.deal_desc{
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.request_call_desc{
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
}
.char_item{
    font-weight: 300;
    font-size: 18px;
}



.deal_price, .deal_price_muted {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
}
.deal_price_muted{
    opacity: 0.3;
    text-decoration: line-through;
}

.order_button{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    background-color: #FF4500;
    font-size: 14px;
    height: 50px;
    padding-top: 15px;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;

}

.review_wrap{
    text-align: center;
}
.review_item{
    background-color: #F7F7F7;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.55;
    text-align: center;


    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    height: 300px;

}

.review_img{
    height: 70px;
    margin-top: -35px;
}

.delivery_item{
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.delivery_img{
    height: 70px;
}

.delivery_title{
    height: 50px;
}

.big_orange{
    background-color: #FF4500;
    color: #ffffff;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}
.big_orange:hover{
    color: #ffffff;
    opacity: 0.8;
}

.modal-title{
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
}

.modal-header {
    padding: 15px;
     border-bottom: 0px solid #e5e5e5;
}

.modal_msg{
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;
}
.modal-body{
    padding-bottom: 2px;
}
.modal-footer {
    text-align: center;
    border-top: 0px solid #e5e5e5;
    padding-top: 3px;
    padding-bottom: 30px;
}

#createorder_in_process{
    display: none;
}

#order_form{
    /*display: none;*/
}

#success_message{
    display: none;
}

#send_request_progress{
    display: none;
}

#send_request_success{
    display: none;
}
